:root {
  --font-ui: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --margin-s: 6px;
  --margin-m: 12px;
  --margin-l: 24px;

  --radius-s: 6px;
  --radius-m: 12px;
  --radius-l: 16px;
  --radius-max: 9999px;

  --color-text: #000;
  --color-background: #3ca1cc;
  --color-frame-background: #69dbff;
  --color-danger: #ff3232;
  --color-best: rgb(255, 217, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: var(--font-ui);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
